---
import {Icon} from '@astrojs/starlight/components';

const links = [{
    platform: 'github',
    label: 'GitHub',
    url: 'https://github.com/fieldifywp/fields',
}];
---

{
    links.length > 0 && (
    <>
        {links.map((platform, index) => (
            <a href={platform.url} rel="me" class="sl-flex" target="_blank">
                <span class="sr-only">{platform.label}</span>
                <Icon name={platform.url} />
            </a>
        ))}
    </>
        )
    }

<style>
    a {
        color: var(--sl-color-text-accent);
        padding: 0.5em;
        margin: -0.5em;
    }
    a:hover {
        opacity: 0.66;
    }
</style>
